*{ /*Selector universal*/
    margin:0px; /*Eliminamos margenes y paddings para que no haya errores*/
    padding: 0px;
    box-sizing: border-box; /*Para que el borde y padding esten incluido en el width*/
    scroll-behavior: smooth; /*Para que haga scroll cuando se pinche en alguna caja con link activo*/
    overflow-x: hidden;
    /*border: 1px solid rgb(0, 0, 0);*/
}

body{
    margin-bottom: 9%;
}

@font-face {
    font-family: "Beanie";
    src: url("../images/ReenieBeanie.ttf");
}

@font-face {
    font-family: "Poppings_medium";
    src: url("../images/poppins/Poppins-Medium.otf");
}

@font-face {
    font-family: "Poppings_semibold";
    src: url("../images/poppins/Poppins-SemiBold.otf");
}

@font-face {
    font-family: "Poppings_light";
    src: url("../images/poppins/Poppins-Light.otf");
}

@font-face {
    font-family: "Inter";
    src: url("../images/Inter-Medium.otf");
}

.header{
    display: flex;
    background-image: url('../images/fondo-header.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-family: "Inter", serif;
}

#logo{
    height: 120%;
    margin-left: 5%;
}

.buscador{
    width: 7%;
    margin-left: 10%;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    align-items: center;
    padding: 0.7%;
    justify-content: space-around;
    margin-bottom: 2%;
}

.lupa{
    height: 2vh;
    margin-right: 5%;
}

.carrito{
    height: 6vh;
    margin-right: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.principal{
    margin-left: 15%;
    margin-bottom: 2%;
}

.catalogo{
    margin: 0 5%;
    margin-bottom: 2%;
}

.personalizado{
    margin-bottom: 2%;
}

.foryouimg{
    width: 100vw;
}

.foryou{
    position: relative;
    margin-top: -3%;
    z-index: 0;
}


.productos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5%;
}

.novedades, .oferta{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.separator{
    width: 2px; /* Ancho de la línea vertical */
    height: 55vh; /* Altura de la línea vertical, ajusta según sea necesario */
    background-color: #707070; /* Color de la línea vertical */
}

.texto{
    font-family: "Beanie", serif;
    text-decoration: underline;
    text-decoration-color: rgb(116, 45, 86);
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    text-align: center;
    font-size: 4em;
}

.prods{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}

.prod{
    background-color: rgb(192, 192, 192);
    margin: 0 3%;
}

.img-container {
    position: relative;
    display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
}

.circle1, .circle2 {
    font-family: "Poppings_medium", serif;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 20%;
    margin-top: 3%;
    margin-right: 3%;
    border-radius: 50%; /* Para que el div sea un círculo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle1{
    background-color: #00e7c1;
}

.circle2{
    background-color: rgb(247, 87, 87);
}

.discount{
    display: flex;
}

.text1, .text2, .text3, .text4{
    margin-left: 4%;
}

.text2, .text4{
    font-family: "Poppings_light", serif;
}

.text1, .text3{
    font-family: "Poppings_semibold", serif;
}

.text4{
    color: rgb(75, 75, 75);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.like{
    display: flex;
    justify-content: right;
    margin-bottom: 4%;
    margin-right: 4%;
}

.centered{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.boton{
    width: 10%;
    background-color: rgb(240, 111, 143);
    border: none;
    padding: 0.5% 2%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Poppings_light", serif;
    border-radius: 100px;
    text-align: center;
    color: white;
}

footer{
    background-image: url("../images/footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 1;
    bottom: 0;
    height: 16%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: "Inter", serif;
}

.f_info, .f_redes, .f_nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_info{
    width: 15%;
}

.f_nosotros{
    width: 10%;
}

.nosotros, .info{
    width: 100%;
}

h2{
    font-size: 150%;
}

li{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.f_imgs1{
    width: 8%;
    height: auto;
    margin: 0 2%;
}

.f_imgs2{
    width: 20%;
    height: auto;
    margin: 0 2%;
}

.f_imgs3{
    width: 13%;
    height: auto;
    margin: 0 2%;
}

.margin{
    margin-bottom: 2%;
}