*{ /*Selector universal*/
    margin:0px; /*Eliminamos margenes y paddings para que no haya errores*/
    padding: 0px;
    box-sizing: border-box; /*Para que el borde y padding esten incluido en el width*/
    scroll-behavior: smooth; /*Para que haga scroll cuando se pinche en alguna caja con link activo*/
    /*border: 1px solid rgb(255, 255, 255);*/
}

.header{
    display: flex;
    background-image: url('../images/fondo-header.png'); /*Imagen de fondo y su posición*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
}

#logo{
    height: 120%;
    margin-left: 5%;
}

.buscador{
    margin-left: 10%;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    align-items: center;
    padding: 0.7%;
    justify-content: space-around;
    margin-bottom: 2%;
}

.lupa{
    height: 2vh;
    margin-right: 5%;
}

.carrito{
    height: 6vh;
    margin-right: 5%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.principal{
    margin-left: 15%;
    margin-bottom: 2%;
}

.catalogo{
    margin: 0 5%;
    margin-bottom: 2%;
}

.personalizado{
    margin-bottom: 2%;
}

.foryouimg{
    width: 100vw;
}

.foryou{
    position: relative;
    margin-top: -3%;
    z-index: 0;
}